/* Start Default Action */
.header-option {
    align-items: center;
}
.header-option a {
    background-color: #878282;
    color: #EEEEEE;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 17px;
}

.header-option a:hover  {
    background: repeating-linear-gradient(15deg, black, #00000063 100px);
    transition: .3s ease-in-out;
}
.header-option .search {
    margin-left: 10px;
    position: relative;
}
.header-option .search input {
    border: 1px solid #eee;
    padding: 5px 10px;
    border-radius: 5px;
    width: 200px;
    transition: width .3s ease-in-out;
}
.header-option .search input:focus {
    width: 250px;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    -webkit-appearance:none;
}
.header-option .search .lens {
    color: var(--bg-black-100);
    position: absolute;
    right: 8px;
    top: 27%;
    display: block;
}
.employees {
    width: 100%;
    min-width: 1000px;

}
.employees table {
    border-spacing: unset;
    transition: all 3s ease-in-out;
    width: 100%;
}
.employees table td,
.employees table th {
    padding: 5px ;
    white-space: nowrap;
}
.employees table thead th {
    background-color: #EEE;
    color: gray;
    font-size: 16px;
}
.employees table tbody tr {
    opacity: 1;
    transition: opacity .3s ease-in-out;
}
.employees table tbody tr.un-visible {
    opacity: 0;
    position: absolute;
    left: 2000px;
}
.employees table tbody td {
    border-bottom: 1px solid #eee;
    border-left: 1px solid #eee;
    transition: all .3s ease-in-out;
}

.employees table tbody td:last-child {
    border-right: 1px solid #eee;
}
.employees table tbody tr:hover td {
    background-color: rgb(0 0 0 / 19%);
}
.employees table tbody .controller-btns {
    text-align: center;
}
.employees table tbody .controller-btns a {
    color: #8b8686;
}
.employees table tbody .controller-btns a:hover {
    color: black;
}
.employees table tbody .controller-btns a:not(:last-child) {
    margin-right: 5px;
}
/* Start Add Employee */
form.add-employee {
    width: 500px;
    margin: 20px 50px 0 20px;
}
form.add-employee fieldset {
    padding: 10px;
    background-color: #1f1f1f1f;

    border: solid 1px #ececec;
}
form.add-employee fieldset legend {
    background-color: #abaaaa;
    padding: 5px;
    font: 1rem;
    color: rgb(87, 85, 85);
}
form.add-employee table {
    width: 100%;
}
form.add-employee label {
    font-size: .85em;
    color: #666666;
}
form.add-employee table tr td input[type="text"],
form.add-employee table tr td input[type="number"]{
    width: 97%;
    padding: 2%;
}
form.add-employee table tr td input[type="submit"] {
    color: #e4e4e4;
    padding: 3px 6px;
    background-color: rgb(12, 173, 12);
    margin-top: 3px;
    border-radius: 3px;
}
form.add-employee table tr td input[type="submit"]:hover {
    cursor: pointer;
}
form.add-employee table tr td {
    padding: 3px 0px;
}

form.add-employee .massage {
    color: white;
    background-color: rgb(127, 226, 127);
    padding: 3px;
}
