/* Start Check Box in Add Groups */
.privileges-to-groups {

}
.privileges-to-groups .label-privilege-add-group {
    font-size: 18px;
    color: var(--text-black-900);
    font-weight: bold;
}
/* End Check Box in Add Groups */