.sales-container {
    box-shadow: 0 0 11px #EEE;
    min-height: 100%;
    padding: 20px;
    margin-top: 10px;
    border-radius: 5px;
}
.sales-container section.partisan {
    padding-left: 10px;
    padding-bottom: 20px;
}
.sales-container section.partisan .section-title {
    font-size: 20px;
    background-color: var(--bg-black-50);
    padding: 5px 10px;
    color: var(--text-black-700);
    border-radius: 3px;
    opacity: .5;
}
.sales-container section.partisan .section-title svg,
.sales-container section.partisan .section-title i {
    color: var(--bg-black-100);
}
.sales-container section.partisan .input-search-fields-container {
    margin-top: 10px;
    position: relative;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    align-items: center;
}
.img-flag-section,
.img-flag-section img {
    right: 0;
    position: absolute;
    max-width: 100px;
    max-height: 100px;
}
.img-flag-section img.t--70 {
    top: -70px;
}
.sales-container section.partisan .input-search-fields-container .container-search-section {
    position: relative;
    margin-top: 10px;
    display: inline-block;
    flex: 1;
}
.sales-container section.partisan .input-search-fields-container .container-search-section.focus,
.sales-container section.partisan .input-search-fields-container .container-search-section.focus > .list-identifier{
    box-shadow: 0 0 2px #eee;
}
.sales-container section.partisan .input-search-fields-container .input input {
    border-left: 2px solid var(--bg-black-100);
    border-bottom: 2px solid var(--bg-black-100);
    padding: 0 0 5px 5px;
    width: 100%;
}
.sales-container section.partisan .input-search-fields-container .input label {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: var(--text-black-700);
    font-size: 14px;
    text-transform: capitalize;
}
.sales-container section.partisan .input-search-fields-container .input label.title.flay {
    left: 14%;
    font-size: 12px;
    top: -10px !important;
}
.sales-container section.partisan .input-search-fields-container .list-identifier {
    background-color: var(--bg-black-100);
    width: 100%;
    position: absolute;
    border-radius: 5px;
    margin-top: 8px;
    overflow-x: hidden;
    overflow-y: scroll;
    z-index: 100;
    pointer-events: none;
    opacity: 0;
    transition: opacity .3s ease-in-out;
}
.sales-container section.partisan .input-search-fields-container .list-identifier.active {
    pointer-events: auto;
    opacity: 1;

}
.sales-container .section.partisan .input-search-fields-container .container-search-section.focus {

}
.sales-container section.partisan .input-search-fields-container .list-identifier li {
    display: inline-block;
    color: var(--text-black-700);
    cursor: pointer;
    width: 100%;
    padding: 10px;
}
.sales-container section.partisan .input-search-fields-container .list-identifier li:hover {
    opacity: .5;
}
.sales-container section.partisan .input-search-fields-container .list-identifier li:nth-child(2n) {
    background-color: #eee;
}
.sales-container section.partisan .input-search-fields-container .input .list-identifier li:not(:last-child) {
    margin-bottom: 5px;
}
.sales-container section.partisan .input-search-fields-container button.fetch-data {
    padding: 0;
    margin: 0;
    min-width: 150px;
    cursor: no-drop;
    pointer-events: none;
    color: var(--text-black-700);
    border-radius: 4px;
    height: 100%;
}
.sales-container section.partisan .input-search-fields-container button.fetch-data.active {
    cursor: pointer;
    pointer-events: auto;
    background-color: var(--bg-black-900);
    color: var(--text-black-30);
}

@media (max-width: 560px) {
    .sales-container section.partisan .input-search-fields-container .input {
        min-width: 100%;
    }
}
.sales-container section.partisan .footer-partisan-section {
    margin-top: 15px;
    box-shadow: 0 0 3px #eee;
    padding: 20px;
    overflow: hidden;
}
.sales-container section.partisan .footer-partisan-section svg,
.sales-container section.partisan .footer-partisan-section i,
.discount button.btn-apply i,
.discount button.btn-apply svg,
.main-data button.create-invoice svg,
.main-data button.create-invoice i {
    color: var(--bg-black-100);
}
.sales-container .footer-partisan-section .tools-bar {
    position: absolute;
    right: 10px;
    top: 0;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    gap: 10px;
    margin-top: 3px;
}
.sales-container .footer-partisan-section .tools-bar button.tools-bar-btn {
    background-color: transparent;
    font-size: 20px;
    color: var(--bg-black-900);
    cursor: pointer;
    z-index: 99;
}
.sales-container .footer-partisan-section .tools-bar ul {
    display: flex;
    gap: 4px;
    background-color: var(--bg-black-60);
    border-radius: 3px;
    opacity: 0;
    pointer-events: none;
    transition: opacity .4s ease-in-out;
}
.sales-container .footer-partisan-section .tools-bar ul.active {
    opacity: 1;
    pointer-events: auto;

}
.sales-container .footer-partisan-section .tools-bar ul li {
    color: var(--bg-black-900);
    margin: 4px;
    cursor: pointer;
    text-transform: capitalize;
}
.sales-container section.partisan .footer-partisan-section .row-foot-partisan-section {
    width: 100%;
    display: flex;
    gap: 10px;
    margin-top: 17px;
}
.sales-container .footer-partisan-section .row-foot-partisan-section .input {
    position: relative;
}
.sales-container .footer-partisan-section .row-foot-partisan-section .input.w-75-prs {
    width: 75%;
}
.sales-container .footer-partisan-section .row-foot-partisan-section .input.w-50-prs {
    width: 50%;
}
.sales-container .footer-partisan-section .row-foot-partisan-section .input.w-25-prs {
    width: 25%;
}
.sales-container .footer-partisan-section .row-foot-partisan-section .input input {
    border-left: 2px solid #eee;
    border-bottom: 2px solid #eee;
    padding: 0 0 5px 5px;
    width: 100%;
}
label.float {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--text-black-900);
    font-size: 15px;
    white-space: nowrap;
}
label.float.flay {
    font-size: 10px;
}
label.float.flay.l26.tm4 {
    left: 26px;
    top: -4px;
    transform: translateY(-4px) !important;
}
label.float.flay.l26.tm10 {
    left: 6px;
    top: -2px;
    transform: translateY(3px) !important;
}
.btn-footer {
    background-color: var(--bg-black-100);
    padding: 5px 7px;
    border-radius: 4px;
    color: var(--text-black-700);
    cursor: pointer;
}
.btn-footer:hover {
    opacity: .8;
}
.add-cart-btn,
.discount button.btn-apply,
.main-data button.create-invoice {
    max-width: 200px;
    align-self: end;
    padding: 5px 15px;
    border-radius: 3px;
    cursor: pointer;
    color: var(--bg-black-30);
    white-space: nowrap;
    background-color: var(--bg-black-900);
    text-transform: capitalize;
    font-size: 14px;
}
.add-cart-btn.disabled,
.discount button.btn-apply.disabled,
.main-data button.create-invoice.disabled {
    pointer-events: none;
    opacity: .4;
}
.add-cart-btn.activation,
.discount button.btn-apply.activation,
.main-data button.create-invoice.activation {
    pointer-events: auto;
    opacity: 1;
}
.add-cart-btn.activation:hover,
.discount button.btn-apply.activation:hover,
.main-data button.create-invoice.activation:hover {
    opacity: .8;
}
.sales-container .edit-icon,
.sales-container .del-icon {
    background-color: unset;
    cursor: pointer;
}
.sales-container .edit-icon:not(:last-child),
.sales-container .del-icon:not(:last-child) {
    margin-right: 5px;
}
.sales-container .edit-icon {
    color: var(--success-color-300);
}
.sales-container .del-icon {
    color: var(--danger-color-300);
}

/* Start Create invoices */
.sales-container section.invoice .content {
    display: flex;
    gap: 30px;
    background-color: #e8eaf6;
    padding: 20px;
    flex-wrap: wrap;
}
.sales-container section.invoice .main-data {
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex: 2;
}
.sales-container section.invoice .main-data .box,
.sales-container section.invoice .invoice {
    padding: 20px;
}
.sales-container section.invoice .main-data .box {
    background-color: #ffffff;
    border-radius: 4px;
    overflow: hidden;
}
.sales-container section.invoice .main-data .box.amount-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.sales-container section.invoice .main-data .box .info h6 {

}
.sales-container section.invoice .main-data .box h6 {
    color: var(--text-black-700);
    text-transform: uppercase;
    opacity: .7;
    font-size: 13px;
}
.sales-container section.invoice .main-data .box .info .amount {
    position: relative;
}
.sales-container section.invoice .dollar {
    position: absolute;
    left: -13px;
    color: var(--bg-black-80);
    font-size: 15px;
}
.sales-container section.invoice .main-data .box .info .amount .price {
    font-size: 25px;
    font-weight: bold;
    color: var(--bg-black-100);
}
.sales-container section.invoice .fraction {
    display: inline;
    position: absolute;
    color: gray;
}
.sales-container section.invoice .main-data .box .status-payment {
    display: flex;
    flex-direction: column;
}
.sales-container section.invoice .main-data .box .status-payment .status-type  .type {
    display: flex;
    flex-direction: column;
    margin: 10px 0 10px 0;
    position: relative;
}
.sales-container section.invoice .main-data .box .status-payment .status-type  .type .title {
    display: flex;
    gap: 6px;
    align-items: center;
}
.sales-container section.invoice .main-data .box .status-payment .status-type  .type .dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
}
.sales-container section.invoice .main-data .box .status-payment .status-type.pending .title {
    color: #1976d2;
}
.sales-container section.invoice .main-data .box .status-payment .status-type.pending .dot {
    background-color: #1976d2;
}
.sales-container section.invoice .main-data .box .status-payment .status-type.draft .title {
    color: #fbc02d;
}
.sales-container section.invoice .main-data .box .status-payment .status-type.draft .dot {
    background-color: #fbc02d;
}
.sales-container section.invoice .main-data .box .status-payment .status-type  .type .title p {
    font-size: 16px;
}
.sales-container section.invoice .main-data .box .status-payment .status-type  .type .value {
    position: relative;
    text-align: end;
    left: -16px;
}
.sales-container section.invoice .main-data .box.note {
    overflow: hidden;
    padding: 20px;
}
.sales-container section.invoice .main-data .box.note .header {
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
}
.sales-container section.invoice .main-data .box.note .header h5 {
    color: var(--text-black-700);
}
.sales-container section.invoice .main-data .box.note .header .tools {
    display: flex;
    gap: 5px;
}
.sales-container section.invoice .main-data .box.note .header button {
    background-color: transparent;
    cursor: pointer;
    color: var(--bg-black-100);
}
.sales-container section.invoice .main-data .box.note .header .edit {

}
.sales-container section.invoice .main-data .box.note .header .copy {

}
.sales-container section.invoice .main-data .box.note .content-note {
    background-color: #ebf2fd;
}
.sales-container section.invoice .main-data .box.note .content-note textarea {
    width: 100%;
    resize: none;
    overflow-y: scroll;
    padding: 5px;
    background-color: inherit;
}
.sales-container section.invoice .main-data .box.create-new-invoice {

}
.sales-container section.invoice .main-data .box.create-new-invoice .num-inv,
.sales-container section.invoice .main-data .box.create-new-invoice .num-inv button {
    color: var(--text-black-900);
}
.sales-container section.invoice .main-data .box.create-new-invoice .num-inv .num {
    font-size: 12px;
}
.sales-container section.invoice .symbol-dollar,
.sales-container section.invoice .symbol {
    font-size: 15px;
    font-weight: bold;
    color: var(--bg-black-100);
}
.sales-container section.invoice .main-data .box.create-new-invoice .num-inv .num .value {
    color: var(--text-black-700);
}
.sales-container section.invoice .main-data .box.create-new-invoice .num-inv button {
    cursor: pointer;
    background-color: transparent;
}
.sales-container section.invoice .main-data .box.create-new-invoice .date-inv {

}
.sales-container section.invoice .main-data .box.create-new-invoice .date-inv .inputs {
    display: flex;
    gap: 10px;
}
.sales-container section.invoice .main-data .box.create-new-invoice .date-inv .input {
    display: flex;
    flex-direction: column;
    flex: 1;
}
.sales-container section.invoice .main-data .box.create-new-invoice .date-inv label {
    text-transform: capitalize;
    font-size: 14px;
    color: var(--text-black-900);
}
.sales-container section.invoice .main-data .box.create-new-invoice .date-inv input {
    margin-top: 1px;
    border: 2px solid var(--bg-black-50);
    padding: 10px;
    border-radius: 3px;
}
.main-data .box .created-by {
    color: var(--text-black-900);
}
.main-data .box .created-by .name-employee {
    color: var(--bg-black-100);
}
.sales-container section.invoice .invoice {
    flex: 1;
    background-color: #ffffff;
    border-radius: 4px;
    position: relative;
}
.sales-container section.invoice .invoice h5,
.sales-container section.invoice .payment label,
.sales-container section.invoice .invoice .info-client .address {
    color: var(--text-black-700);
    font-size: 13px;
    margin-bottom: 10px;
}
.sales-container section.invoice .invoice .info-client {
    display: flex;
    flex-direction: column;
}
.sales-container section.invoice .invoice .info-client .name-client {
    color: var(--bg-black-100);
    font-weight: bold;
    font-size: 20px;
}
.sales-container section.invoice .invoice .info-client {

}
.sales-container section.invoice .invoice .snippet-products {

}
.sales-container section.invoice .invoice .snippet-products table {
    width: 100%;
}
.sales-container section.invoice .total-amount,
.sales-container section.invoice .payment {
    padding: 0 10px;
}
.sales-container section.invoice .total-amount {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-top: 10px;
    color: var(--bg-black-900);
    padding: 10px 5px;
    border-radius: 4px;
    border: 2px solid var(--bg-black-50);
}
.sales-container section.invoice .payment {
    margin-top: 15px;
}

/* Style for the label */
.sales-container section.invoice .payment label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}

/* Style for the select input */
select.type-payment {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    transition: border-color 0.3s ease-in-out;
    cursor: pointer;
    text-transform: capitalize;
}

/* Style for the select input when it's in focus */
select.type-payment:focus {
    outline: none;
    border-color: var(--bg-black-100);
}

.discount {
    background-color: transparent;
    padding: 10px;
    text-align: center;
    border: 2px solid var(--bg-black-50);
    margin: 15px 10px 0 10px;
    border-radius: 4px;
}

.discount h3 {
    color: var(--bg-black-100);
    font-size: 15px;
    margin-bottom: 10px;
    text-align: left;
}

.discount form {
    display: inline-block;
    text-align: left;
}
.discount .input-discount {
    margin-bottom: 10px;
    position: relative;
}
.discount .input-discount label {
    display: block;
    margin-bottom: 2px;
    font-size: 10px;
    color: var(--text-black-900);
}

.discount input[type="text"] {
    padding: 0 0 0 5px;
    font-size: 14px;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    width: 100%;
}
.discount .input-group-append {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}
.discount .input-group-text input[type="checkbox"] {
    margin-right: 5px;
    cursor: pointer;
}
.discount .input-group-text label {
    font-size: 14px;
    color: var(--text-black-700);
    cursor: pointer;
}

/* End Create invoices */