/* Start Default Action */
.header-option {
    align-items: center;
}
.header-option a {
    background-color: #878282;
    color: #EEEEEE;
    border-radius: 5px;
    cursor: pointer;
    padding-right: 14px;
    font-size: 17px;
    transition: .3s ease-in-out;
}

.header-option .add-user:hover  {
    background-color: #00000045;
}
.header-option .search {
    margin-left: 10px;
    position: relative;
}
.header-option .search input {
    border: 1px solid #eee;
    padding: 5px 10px;
    border-radius: 5px;
    width: 200px;
    transition: width .3s ease-in-out;
}
.header-option .search input:focus {
    width: 250px;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    -webkit-appearance:none;
}
.header-option .search .lens {
    color: var(--bg-black-100);
    position: absolute;
    top: 27%;
    display: block;
}
.privileges {
    width: 100%;
    min-width: 1000px;

}
.privileges table {
    border-spacing: unset;
    transition: all 3s ease-in-out;
    width: 100%;
}
.privileges table td,
.privileges table th {
    padding: 5px ;
    white-space: nowrap;
}
.privileges table thead th {
    background-color: #EEE;
    color: gray;
    font-size: 16px;
}
.privileges table tbody tr {
    opacity: 1;
    transition: opacity .3s ease-in-out;
}
.privileges table tbody tr.un-visible {
    opacity: 0;
    position: absolute;
    left: 2000px;
}
.privileges table tbody td {
    border-bottom: 1px solid #eee;
    border-left: 1px solid #eee;
    transition: all .3s ease-in-out;
}

.privileges table tbody td:last-child {
    border-right: 1px solid #eee;
}
.privileges table tbody tr:hover td {
    background-color: rgb(0 0 0 / 19%);
}
.privileges table tbody .controller-btns {
    text-align: center;
}
.privileges table tbody .controller-btns a {
    color: #8b8686;
}
.privileges table tbody .controller-btns a:hover {
    color: black;
}
.privileges table tbody .controller-btns a:not(:last-child) {
    margin-right: 5px;
}
.privileges table tbody .controller-btns span.danger-style {
    color: var(--danger-color-300);
}
/* End Default */