/* Start Default Action */
.header-option a {
    background-color: #878282;
    color: #EEEEEE;
    border-radius: 5px;
    cursor: pointer;
    font-size: 17px;
    padding-right: 14px;
    transition: .3s ease-in-out;
}
.header-option .add-user:hover  {
    background-color: #00000045;
}
.header-option .search {
    margin-left: 10px;
    position: relative;
}
.header-option .search input {
    border: 1px solid #eee;
    padding: 5px 10px;
    border-radius: 5px;
    width: 200px;
    transition: width .3s ease-in-out;
    margin-right: 10px;
}
.header-option .search input:focus {
    width: 250px;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    -webkit-appearance:none;
}
.header-option .search .lens {
    color: var(--bg-black-100);
    position: absolute;
    top: 27%;
    left: 5px;
}
/* End Default */